@model cinema.ViewModel.ProductViewModel
@using cinema.Models

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title> Cyber Cinema </title>
    <!--css files-->
    <link rel=" stylesheet" href="~/css/MainStyle.css">
    <link href="~/css/lightslider.css" rel="stylesheet" />
    <!--js files-->
    <script src="~/js/JQuery3.3.1.js"></script>
    <script src="~/js/lightslider.js"></script>
    <!-- fav icon-->
    <link rel=" shortcut icon" href="~/image/movies/fav-icon.png">
    <!--using FontAwesome--------->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

    <script>
        function updatePrice(value)
        {
            document.getElementById('textinput').value = value + '$';
        }
    </script>
</head>

<body>

    <!--navigation------------>
    <nav>
        <!--logo-------------->
        <a href="~/main" class="logo">
            <img src="~/image/cinema-logo-1.png">
        </a>

        @if (@WebSecurity.IsAuthenticated)
        {
            <!--welcome User-->
            <p style="color:wheat;">Welcome @WebSecurity.CurrentUserName</p>
        }
        else
        {
            <!--welcome Guest-->
            <p style="color:wheat;">Welcome Guest</p>
        }


        <!--menu--------------->
        <ul class="menu">
            <li>
                @if (Roles.IsUserInRole("Admin"))
                {@Html.ActionLink("Edit", "edit")}
            </li>
            <li>  @Html.ActionLink("Home", "MainPage")  </li>
            @if (!@WebSecurity.IsAuthenticated)
            {
                <li>  @Html.ActionLink("registration", "registration")  </li>
                <li>  @Html.ActionLink("Login", "login")  </li>
            }
            else
            {
                <li>  @Html.ActionLink("Logout", "logout")  </li>
            }

            <li>  @Html.ActionLink("About us", "about")  </li>
            <li>  <a href="@Url.Action("MainPage", "main", new {sortBy = "price increase"  })" class="btn">Price Increase</a> </li>
            <li>  <a href="@Url.Action("MainPage", "main", new {sortBy = "price decrease"  })" class="btn">Price Decrease</a> </li>
            <li>  <a href="@Url.Action("MainPage", "main", new {sortBy = "18+"  })" class="btn">18+</a>                       </li>
            <li>  <a href="@Url.Action("MainPage", "main", new {sortBy = "most popular"  })" class="btn">Most Popular</a>     </li>
            <!--<li>  <a href="Url.Action("MainPage", "main", new {sortBy = "category"  })" class="btn">Category</a>             </li>-->
            <li>  <p style="color: wheat; margin-left: 50px;">Price Range:</p>                                                </li>
            <li>  <input class="range" onchange="updatePrice(this.value)" name="range" style="margin-top: 18px;" type="range" min="45" max="150" value="90">     </li>
            <li>
                <form action="@Url.Action("MainPage", "main", new {sortBy = "price range"})" method="post">
                    <input type="text" readonly="readonly" name="priceRange" id="textinput" value="90$" style="background-color: black; color: wheat; width: 20%; border: none;">
                    <div class="wthree-field">
                        <input style="color: wheat; background: black; border: none; font-size: 15px;" id="updateForm1" name="updateForm1" type="submit" value="Seach by price" />
                    </div>
                </form>
                <form action="@Url.Action("MainPage", "main", new {sortBy = "category"})" method="post">
                    <select style="margin-left: -150px; background: black; color: wheat;" name="selectGenre" id="genre" onchange="changeFunc();">
                        <option value="Category">           Category</option>
                        <option value="Absurdist">          Absurdist</option>
                        <option value="Action">             Action</option>
                        <option value="Adventure">          Adventure</option>
                        <option value="Animated">           Animated</option>
                        <option value="Comedy">             Comedy</option>
                        <option value="Crime">              Crime</option>
                        <option value="Drama">              Drama</option>
                        <option value="Fantasy">            Fantasy</option>
                        <option value="Historical">         Historical</option>
                        <option value="Historical">         Historical fiction</option>
                        <option value="Horror">             Horror</option>
                        <option value="Magical">            Magical realism</option>
                        <option value="Mystery">            Mystery</option>
                        <option value="Paranoid fiction">   Paranoid fiction</option>
                        <option value="Philosophical">      Philosophical</option>
                        <option value="Political">          Political</option>
                        <option value="Romance">            Romance</option>
                        <option value="Saga">               Saga</option>
                        <option value="Satire">             Satire</option>
                        <option value="Science fiction">    Science fiction</option>
                        <option value="Social">             Social</option>
                        <option value="Speculative">        Speculative</option>
                        <option value="Thriller">           Thriller</option>
                        <option value="Urban">              Urban</option>
                        <option value="Western">            Western</option>
                        <option value="Space-Opera">        Space Opera</option>
                    </select>

                    <input style="color: black; width: 0%; background: black; border: none;" id="some2" name="some" readonly="readonly" type="text" value="">
                    <div style="margin-top: -15px;" class="wthree-field">
                        <input style="color: wheat; background: black; border: none; font-size: 15px; margin-top: -100px;" id="updateForm2" name="updateForm2" type="submit" value="Seach by genre" />
                    </div>
                </form>
            </li>
        </ul>
    </nav>

    <script>
        function changeFunc() {
            var selectBox = document.getElementById("genre");
            document.getElementById("some2").value = selectBox.options[selectBox.selectedIndex].value;
        }
    </script>

    <!--showcase-->
    <section id="main">
        <!--heading--------------->
        <h1 class="showcase-heading">Showcase</h1>

        <ul id="autoWidth" class="cs-hidden">
            <!--box 1----------------->
            <li class="item-a">
                <!--showcase box---------->
                <div class="showcase-box">
                    <img src="~/image/movies/s-1.jpg" />
                </div>
            </li>

            <!--box 2----------------->
            <li class="item-b">
                <!--showcase box---------->
                <div class="showcase-box">
                    <img src="~/image/movies/s-2.jpg" />
                </div>
            </li>

            <!--box 3----------------->
            <li class="item-c">
                <!--showcase box---------->
                <div class="showcase-box">
                    <img src="~/image/movies/s-3.jpg" />
                </div>
            </li>

            <!--box 4----------------->
            <li class="item-d">
                <!--showcase box---------->
                <div class="showcase-box">
                    <img src="~/image/movies/s-4.jpg" />
                </div>
            </li>

            <!--box 5----------------->
            <li class="item-e">
                <!--showcase box---------->
                <div class="showcase-box">
                    <img src="~/image/movies/s-5.jpg" />
                </div>
            </li>
        </ul>
    </section>




    <!-----------movies------------------->
    <div class="movies-heading">
        <h2>Movie Gallery</h2>
    </div>

    <section id="movies-list">

        @foreach (ProductModel movie in Model.productModelList)
        {
            //----------box------->
            <div class="movies-box">

                <!--img------------>
                <div class="movies-img">
                    <div class="quality">HDRip</div>
                    <img src="~/image/movies/@movie.MovieImg" />
                </div>

                <a href="@Url.Action("moviePage", "main", new {sortByMovie = @movie.MovieName})">
                    <!--text------------>
                    @movie.MovieName (@movie.RelaseYear)  | HDRip 1080p HD  |   Price: @movie.MoviePrice$ | @movie.MovieAgeLimit+
                </a>
            </div>
        }

    </section>

    <!--btns------------------>
    <div class="btns">
        <a href="#">Previous</a>
        <a href="#">Next</a>
    </div>

    <!--footer------------------>
    <footer>
        <p>Going To Internet, Ltd Consumer Website</p>
        <p>Copyright 2020 - GoingToInternet</p>
    </footer>

    <!--slider script--------->
    <script>
        $(document).ready(function () {
            $('#autoWidth').lightSlider({
                autoWidth: true,
                loop: true,
                onSliderLoad: function () {
                    $('#autoWidth').removeClass('cS-hidden');
                }
            });
        });
    </script>
</body>
</html>
