<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title> Cyber Cinema </title>
<!--css files-->
<link rel=" stylesheet" href="~/css/MainStyle.css">
<link href="~/css/lightslider.css" rel="stylesheet" />
<!--js files-->
<script src="~/js/JQuery3.3.1.js"></script>
<script src="~/js/lightslider.js"></script>
<!-- fav icon-->
<link rel=" shortcut icon" href="~/image/images/fav-icon.png">
<!--using FontAwesome--------->
<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--navigation------------>
    <nav>
        <!--logo-------------->
        <a href="~/main" class="logo">
            <img src="~/image/cinema-logo-1.png">
        </a>

        <!--welcome Guset-->
        <p style="color:wheat;">Welcome @ViewBag.name</p>

        <!--menu--------------->
        <ul class="menu">
            <li>  @Html.ActionLink("Home", "MainPage")  </li>
            <li>  @Html.ActionLink("registration", "registration")  </li>
            <li>  @Html.ActionLink("Login", "login")  </li>
            <li>  @Html.ActionLink("About us", "about")  </li>
            <li>@if (ViewBag.name == "Victor" || ViewBag.name == "victor" || ViewBag.name == "Arie" || ViewBag.name == "arie")
            {
                @Html.ActionLink("Edit", "edit")
            }</li>
        </ul>
        <!--search------------->
        <div class="search">
            <input type="text" placeholder="Find your Favourite Movies" />
            <!--search icon------------->
            <i class="fas fa-search"></i>
        </div>
    </nav>
    <section id="main">
        <!--showcase-------------->
        <!--heading--------------->
        <h1 class="showcase-heading">Showcase</h1>

        <ul id="autoWidth" class="cs-hidden">
            <!--box 1----------------->
            <li class="item-a">
                <!--showcase box---------->
                <div class="showcase-box">
                    <img src="~/image/images/s-1.jpg" />
                </div>
            </li>

            <!--box 2----------------->
            <li class="item-b">
                <!--showcase box---------->
                <div class="showcase-box">
                    <img src="~/image/images/s-2.jpg" />
                </div>
            </li>

            <!--box 3----------------->
            <li class="item-c">
                <!--showcase box---------->
                <div class="showcase-box">
                    <img src="~/image/images/s-3.jpg" />
                </div>
            </li>

            <!--box 4----------------->
            <li class="item-d">
                <!--showcase box---------->
                <div class="showcase-box">
                    <img src="~/image/images/s-4.jpg" />
                </div>
            </li>

            <!--box 5----------------->
            <li class="item-e">
                <!--showcase box---------->
                <div class="showcase-box">
                    <img src="~/image/images/s-5.png" />
                </div>
            </li>
        </ul>
    </section>
    <!--latest movies-->
    <section id="latest">
        <h2 class="latest-heading">Latest Movies</h2>
        <!--slider-------------->
        <ul id="autoWidth2" class="cs-hidden">
            <!--slide box 1----------------->
            <li class="item-a">
                <div class="latest-box">
                    <!--img------------>
                    <div class="latest-b-img">
                        <img src="~/image/images/m-1.jpg" />
                    </div>
                    <!--text------------>
                    <div class="latest-b-text">
                        <strong>Kin 2018</strong>
                        <p>Action Movie</p>
                    </div>
                </div>
            </li>

            <!--slide box 2----------------->
            <li class="item-b">
                <div class="latest-box">
                    <!--img------------>
                    <div class="latest-b-img">
                        <img src="~/image/images/m-2.jpg" />
                    </div>
                    <!--text------------>
                    <div class="latest-b-text">
                        <strong>Peninsuela 2020</strong>
                        <p>Action Movie</p>
                    </div>
                </div>
            </li>

            <!--slide box 3----------------->
            <li class="item-c">
                <div class="latest-box">
                    <!--img------------>
                    <div class="latest-b-img">
                        <img src="~/image/images/m-3.jpg" />
                    </div>
                    <!--text------------>
                    <div class="latest-b-text">
                        <strong>Inception 2010</strong>
                        <p>Action Movie</p>
                    </div>
                </div>
            </li>

            <!--slide box 4----------------->
            <li class="item-d">
                <div class="latest-box">
                    <!--img------------>
                    <div class="latest-b-img">
                        <img src="~/image/images/m-4.jpg" />
                    </div>
                    <!--text------------>
                    <div class="latest-b-text">
                        <strong>Iron Man-3 2013</strong>
                        <p>Action Movie</p>
                    </div>
                </div>
            </li>

            <!--slide box 5----------------->
            <li class="item-e">
                <div class="latest-box">
                    <!--img------------>
                    <div class="latest-b-img">
                        <img src="~/image/images/m-5.jpg" />
                    </div>
                    <!--text------------>
                    <div class="latest-b-text">
                        <strong>Venom 2018</strong>
                        <p>Action Movie</p>
                    </div>
                </div>
            </li>

            <!--slide box 6----------------->
            <li class="item-f">
                <div class="latest-box">
                    <!--img------------>
                    <div class="latest-b-img">
                        <img src="~/image/images/m-6.jpg" />
                    </div>
                    <!--text------------>
                    <div class="latest-b-text">
                        <strong>Aquaman  2018</strong>
                        <p>Action Movie</p>
                    </div>
                </div>
            </li>

            <!--slide box 7----------------->
            <li class="item-g">
                <div class="latest-box">
                    <!--img------------>
                    <div class="latest-b-img">
                        <img src="~/image/images/m-7.jpeg" />
                    </div>
                    <!--text------------>
                    <div class="latest-b-text">
                        <strong>Jungle Cruise 2021</strong>
                        <p>Action Movie</p>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <!--movies---------------------------->
    <div class="movies-heading">
        <h2>Movies</h2>
    </div>
    <section id="movies-list">
        <!--box 1-------------->
        <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="~/image/images/l-1.jpg" />
            </div>
            <!--text------------>
            <a href="#">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>

        <!--box 2-------------->
        <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="~/image/images/l-2.jpg" />
            </div>
            <!--text------------>
            <a href="#">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>

        <!--box 3-------------->
        <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="~/image/images/l-3.jpg" />
            </div>
            <!--text------------>
            <a href="#">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>

        <!--box 4-------------->
        <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="~/image/images/l-4.jpg" />
            </div>
            <!--text------------>
            <a href="#">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>

        <!--box 5-------------->
        <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="~/image/images/l-5.jpg" />
            </div>
            <!--text------------>
            <a href="#">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>

        <!--box 6-------------->
        <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="~/image/images/l-6.jpg" />
            </div>
            <!--text------------>
            <a href="#">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>

        <!--box 7-------------->
        <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="~/image/images/l-7.jpg" />
            </div>
            <!--text------------>
            <a href="#">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>

        <!--box 8-------------->
        <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="~/image/images/l-8.jpg" />
            </div>
            <!--text------------>
            <a href="#">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>
    </section>

    <!--btns------------------>
    <div class="btns">
        <a href="#">Previous</a>
        <a href="#">Next</a>
    </div>

    <!--footer------------------>
    <footer>
        <p>Going To Internet, Ltd Consumer Website</p>
        <p>Copyright 2020 - GoingToInternet</p>
    </footer>

    <!--slider script--------->
    <script>
        $(document).ready(function () {
            $('#autoWidth,#autoWidth2').lightSlider({
                autoWidth: true,
                loop: true,
                onSliderLoad: function () {
                    $('#autoWidth,#autoWidth2').removeClass('cS-hidden');
                }
            });
        });
    </script>
</body>
</html>
